$main_font: 'andale_monoregular';
$header-color: #e9ecef;
$main-color: #e9ecef;
$dark-color: rgb(52, 58, 64);

@font-face {
  font-family: 'andale_monoregular';
  src: url('../fonts/andalemono-webfont.woff2') format('woff2'),
    url('../fonts/andalemono-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@media (min-width: 992px) {
  #resume {
    color: $dark-color;
    background: url(../img/Career-Path-BG.gif);
    background-size: cover;
    background-attachment: fixed;

    img {
      display: block;
      width: 60vw;
      height: auto;
      margin: 0 auto;
    }
  }
}

@media (max-width: 991px) {
  #resume {
    color: $dark-color;
    background: url(../img/Career-Path-BG.gif);
    background-size: cover;
    background-attachment: fixed;

    img {
      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }
}

body {
  font-family: $main_font;
}

.navbar {
  border-bottom: #000000 2px solid;
  background: #e9ecef;

  img {
    width: 90px;
    height: auto;
  }
}

#about {
  background: url(../img/Background-2.jpg);
  background-size: cover;
  background-attachment: fixed;

  img {
    display: block;
    padding-top: 30vh;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    height: auto;
  }

  .main-header {
    position: relative;
    display: flex;
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-family: $main_font;
    color: $header-color;
  }

  .header {
    font-size: 70px;
  }

  .sub-header {
    font-size: 20px;
    letter-spacing: 11px;
  }
}

#computer_skills {
  .main-container {
    border-left: $dark-color 1px solid;
  }
}

#portfolio {
  a {
    color: $header-color;

    :hover {
      color: #fff;
    }
  }

  .iphone {
    img {
      width: 15vw;
      height: auto;
    }
  }

  .iphone-small {
    img {
      width: 35vw;
      height: auto;
    }
  }

  .img-small {
    img {
      width: 70vw;
      height: auto;
    }
  }

  img {
    width: 40vw;
    height: auto;
  }
}

.social-link {
  font-size: 30px;
}

#contact {
  .social {
    letter-spacing: 4px;
  }

  color: $dark-color;

  a {
    color: $dark-color;

    :hover {
      color: #000;
    }
  }
}

#footer {
  color: $main-color;
}
